<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_app/style.css' %}">
    <title>Users App</title>
</head>
<body>
    {% for user in users %}
    <h1>Edit user {{user.id}}</h1>
    <form action='{{user.id}}/update' method="post">
        {% csrf_token %}
        First Name:<input type='text' name='first_name'>
        Last Name:<input type='text' name='last_name'>
        Email:<input type='text' name='email'>
        <input type='Submit' value='Update'>
    </form>
    <a href="{{user.id}}">Show</a>
    {% endfor %}
    <a href="/users">Go Back</a>
</body>
</html>