<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_app/style.css' %}">
    <title>Users App</title>
</head>
<body>
    {% for user in users %} 
        <ul>
        <h1>User {{user.id}}</h1>
            <li>Full Name: {{user.first_name}} {{user.last_name}}</li>
            <li>Email: {{user.email}}</li>
            <li>Created at: {{user.created_at}}</li>      
            <li><a href="{{user.id}}/edit">Edit</a> <a href="{{user.id}}/delete">Delete</a></li>
        </ul>  
    {% endfor %}
</body>
</html>